@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
:root {
  --orange: rgb(245, 166, 35);
  --lightOrange: rgb(236, 194, 134);
  --darkOrange: rgb(238, 147, 36);
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  height: 100%;
}

.main {
  width: 100%;
  height: 80%;
  padding: 0.5vh 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5em;
  height: 20%;
  width: 100%;
  background-color: var(--orange);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleTxt {
  color: white;
}

.data {
  display: flex;
  justify-content: space-around;
  font-size: 0.75em;
}

.data .item {
  text-transform: capitalize;
  flex: 3;
  font-size: 0.75em;
}

.data .titleItem {
  text-transform: capitalize;
  flex: 3;
  background-color: var(--lightOrange);
  padding: 1% 0%;
}

.data .quantity {
  flex: 1;
  align-items: center;
}

.data .titleQuantity {
  flex: 1;
  background-color: var(--orange);
  align-items: center;
  padding: 1% 0%;
}

.listStyle {
  list-style: none;
  /* text-align:center; */
  font-size: 1.5em;
  padding: 0;
  margin: 0 0 2% 0;
  position: relative;
  width: 100%;
}

.purchaseBtn {
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--orange);
  padding: 8%;
  cursor: pointer;
  font-size: 1.1rem;
  /* font-weight: 200; */
  width: 80%;
  color: white;
}

.purchaseBtn:hover {
  background-color: var(--darkOrange);
}

.orderDetails {
  width: 70%;
  padding: 2%;
  background-color: rgb(233, 237, 240);
  border-radius: 4px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.priceDetails {
  background-color: rgb(233, 237, 240);
  border-radius: 4px;
  height: 100%;
  width: 29%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.totalPrice {
  font-size: 4rem;
  font-weight: 100;
}
