.FooterContainer{
    height: 400px;
    background-color: #27272e;
    padding: 1%;
}

.FooterFlexContainer{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    font-size: 20px;
    color: white;
    height: 92%;
}

.OtherLinks{
    text-decoration: none;
    color:white;
}

.OtherLinks:hover{
    font-weight: bold;
}

.Title{
    padding: 40px;
}

.Copyright{
    float: right;
    color:white
}
