.FooterContainer{
    height: 400px;
    background-color: #000000;
}

.FooterFlexContainer{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    font-size: 20px;
    color: white;
    height: 92%;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    font-weight: bold;
}

.Title{
    padding: 40px;
}

.Copyright{
    float: right;
    color:white
}
