.FooterContainer{
    height: 400px;
    background-color: #27272e;
    padding: 1%;
}

.FooterFlexContainer{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    font-size: 20px;
    color: white;
    height: 92%;
}

.logo{
    height:90%;
}

.OtherLinks{
    text-decoration: none;
    color:white;
}

.OtherLinks:hover{
    font-weight: bold;
}

.Title{
    padding: 40px;
}

.Copyright{
    float: right;
    color:white;
}

.Copyright a{
    color:white;
}

.separator{
    background-color:grey; 
    width:0.5px;
    margin-top:30px;
    margin-bottom:30px
}

@media (max-width:500px){
    .FooterFlexContainer{
        flex-direction: column;
    }

    .separator{
        display: none;
    }

    .FooterContainer{
        height: fit-content;
    }    

    .Copyright{
        color: #000;
    }

    .Copyright a{
        color:black;
    }

    .logo{
        height: 60vh;
    }
}