.main{
    position:fixed;
    transition: transform 3s ease-out;
    z-index:300;
    top:0;
    left:0;
    display:flex;   
    flex-direction:column;
    height:100vh;
    background-color:rgb(63, 59, 59);
    width:13vw;
    align-items:center;
}

@media (min-width:500px){
    .main{
        display:none;
        transform:translateX(-100%);
    }
}

@media (max-width:499px){
    .appear{
        transform:translateX(0)
    }
}