body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.burger {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
}

h2 {
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff7043;
}

.cart {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.paymentOptions {
    text-align: center;
    margin-top: 20px;
}

.paymentMethod {
    margin: 20px;
}

.paymentMethod img {
    width: 100px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

.paymentMethod a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.paymentMethod a:hover {
    color: #ff5722;
}