@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
.PosterContainer {
  display: flex;
  flex-direction: row;
  height: 85vh;
  justify-content: space-between;
}

.OrderButton {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: var(--orange);
  font-size: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  cursor: pointer;
  margin: 5%;
}

.OrderButton:hover {
  color: #ffffff;
}

.MainContent {
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  justify-content: center;
  flex: 0 0 30%;
}

.Quote {
  margin: 10%;
  height: 35%;
}

.Specialities {
  margin-top: 20px;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #27272e;
}

.feature {
  border: 2px solid rgb(197, 72, 72);
  border-radius: 5px;
  width: 20%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.feature:hover {
  cursor: pointer;
  border: 2px solid white;
}

.Title {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 500px) {
  .MainContent {
    font-size: 200%;
    margin-bottom: 5%;
  }
  .PosterContainer {
    flex-direction: column;
    height: fit-content;
  }
  .Quote {
    height: 80%;
  }
  .Specialities {
    flex-direction: column;
  }
  .feature {
    width: 100%;
  }
}
