.displayTable{
    margin: 4% 0;
    width: 100%
}

.deleteButton{
    height: 2vh;
    width: 2vw;
}


tr{
    background-color: rgb(162, 194, 255);
}

tr:first-child{
    background-color: rgb(82, 118, 207);
}

td{
    height: 20px;
}

