.Burger{
    width : 300px;
    height : 200px;
    overflow: auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight : bold; 
    margin-top:0px;   
}

@media (min-width:575px) and (min-height: 400px){
    .Burger{
        width : 700px;
        height : 300px;
    }
}

@media (min-width:1000px) and (min-height:700px){
    .Burger{
        width : 700px;
        height : 400px;
    }
}


